body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f7fa;
    /* width: auto; */
}

.conatainer{
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-size: 30px;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

form input{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button{
    padding: 10px;
    background-color: #39b3ab83;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;

}

form button:hover{
    background-color: #1b756f84;

}

#taskList{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#taskList li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.taskDetails{
    flex-grow: 1;
    margin-right: 10px;
}

.editBtn{
    background-color: #ffc107;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

.editBtn:hover{
    background-color: #e0a800;
}

.deleteBtn{
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

.deleteBtn:hover{
    background-color: #c82333;
}